# POGIL 4.9 - Arithmetic

## Python for Scientists

### Content Learning Objectives

After completing this activity, students should be able to:
 
- Identify all seven arithmetic operations by symbol
- Understand how to use arithmetic operations in Python
- Understand how Python orders operations

### Process Skill Goals

*During this activity, you should make progress toward:*

- Leveraging prior knowledge and experience of other students

## Section 1

### Task 1

You are currently reading this in an Interactive Python Notebook, or IPYNB. That means that you can run code and view expressions right in your notebook. All text entered into a code block in an IPYNB will be executed immediately as Python code when you click on the Run button next to the code cell. Most notebook renderers show a little play button next to the cell as the Run button. Try it below.

In [ ]:
# <-- click on that run button

2 + 3

What was the output of the above cell?

If you enter a Python expression, like the one above, Python will show the value of that expression, similar to a calculator. Python has some arithmetic functionality built right in, but you can also use the `math` module to perform some more complicated mathematical operations, like logarithms or trigonometry.

### Task 2

**Before you run any code, try to figure out what you think Python will output for the following expressions. Don't use the Python interpreter (we'll do that later).**

```python
2 + 3
```

```python
3 * 4 + 2
```

```python
3 * 4 + 2.0
```

```python
3(4 + 2)
```

```python
3 * (4 + 2)
```

```python
5 / 10
```

```python
5 / 10.0
```

```python
5 / 9
```

```python
2 ** 4
```

```python
abs(-2) ** 4
```

```python
math.pow(2, 4)
```

```python
import math
```

```python
math.pow(2, 4)
```

```python
sqrt(4)
```

```python
math.sqrt(4)
```

```python
math.cos(0)
```

```python
math.pi
```

```python
math.sin(math.pi / 2)
```

### Task 3

Now, run each of these lines. Type each Python expression in the prompt given, one line at a time. Write the corresponding output in the following text block. If an error occurs, write what type of error it was (I.e., the first word of the last line of the error message).

```python
2 + 3
```

```python
3 * 4 + 2
```

```python
3 * 4 + 2.0
```

```python
3(4 + 2)
```

```python
3 * (4 + 2)
```

```python
5 / 10
```

```python
5 / 10.0
```

```python
5 / 9
```

```python
2 ** 4
```

```python
abs(-2) ** 4
```

```python
math.pow(2, 4)
```

```python
import math
```

```python
math.pow(2, 4)
```

```python
sqrt(4)
```

```python
math.sqrt(4)
```

```python
math.cos(0)
```

```python
math.pi
```

```python
math.sin(math.pi / 2)
```

### Task 4

**What does the** `**` **operator do?**

### Task 5

**Based on your knowledge of what an operator and a function are, identify four examples of a mathematical operator (not a function).**

**Identify four examples of a mathematical function (not an operator).**

### Task 6

**For addition and multiplication to produce an output with a decimal value, what type of number must be part of the input? Provide an example to substantiate your claim.**

### Task 7

**Does division follow the same rule as in Task 6? Provide an example to substantiate your claim.**

### Task 8

**The output from Task 3 displayed three different errors. Explain the reason for each.**

```
TypeError
```

1st `NameError`

2nd `NameError`

### Task 9

**Identify two differences between using a function already built into Python (like `abs()`) and a function from the `math` module.**

## Section 2

**Consider the following three tables.**

#### Table A

|  9 / 4 | *evaluates to* | 2.25 |
|--------|----------------|------|
| 10 / 4 | *evaluates to* | 2.5  |
| 11 / 4 | *evaluates to* | 2.75 |
| 12 / 4 | *evaluates to* | 3.0  |
| 13 / 4 | *evaluates to* | 3.25 |
| 14 / 4 | *evaluates to* | 3.5  |
| 15 / 4 | *evaluates to* | 3.75 |
| 16 / 4 | *evaluates to* | 4.0  |

#### Table B

|  9 // 4 | *evaluates to* | 2 |
|---------|----------------|---|
| 10 // 4 | *evaluates to* | 2 |
| 11 // 4 | *evaluates to* | 2 |
| 12 // 4 | *evaluates to* | 3 |
| 13 // 4 | *evaluates to* | 3 |
| 14 // 4 | *evaluates to* | 3 |
| 15 // 4 | *evaluates to* | 3 |
| 16 // 4 | *evaluates to* | 4 |

#### Table C

|  9 % 4 | *evaluates to* | 1 |
|--------|----------------|---|
| 10 % 4 | *evaluates to* | 2 |
| 11 % 4 | *evaluates to* | 3 |
| 12 % 4 | *evaluates to* | 0 |
| 13 % 4 | *evaluates to* | 1 |
| 14 % 4 | *evaluates to* | 2 |
| 15 % 4 | *evaluates to* | 3 |
| 16 % 4 | *evaluates to* | 0 |

### Task 1

**For each operator in the above three tables, identify the symbol and describe the type of numerical result.**

### Task 2

**If the result of the `/` operator were rounded to the nearest integer, would this be the same as the result of the `//` operator? Explain how the results in Table A compare to Table B.**

### Task 3

**If the table included more rows, list all numbers where `// 4` would evaluate to 2 and all the numbers where `// 4` would evaluate to 4.**

### Task 4

**Consider the expressions in Table C that evaluate to 1. How do the left *operands* in these expressions differ from those that evaluate to 0?**

### Task 5

**Describe the reason for the repeated sequence of numbers (0, 1, 2, 3) for the result of `% 4`.**

### Task 6

**Recall how you did long division in elementary school. Finish solving for 79 $\div$ 5 below. Which part of the answer is `79 // 5`, and which part is `79 % 5`?**

### Task 7

**Imagine that you are given candy mints to divide evenly among your team members.**

**If your team receives 11 mints, how many mints would each student get, and how many are left over? Write a Python expression to compute and print each result.**

**If your team receives 2 mints, how many mints would each student get, and how many are left over? Write a Python expression to compute and print each result.**

### Task 8

**Python has three division operators: floor division, true division, and modulo. Which operator corresponds to each name?**

Every value in Python has a data type, which determines what can be done with the data. For numbers, there are three primary data types.

- `int` variables can only hold whole numbers
- `float` variables can hold decimals
- `complex` variables can hold complex numbers (recall from algebra how $i = \sqrt{-1}$)

## Section 3

### Task 1

**In the following lines, write the output (not necessarily the data type) of the following Python lines. If any outputs surprise you, note the output and what you expected to get.**

In [ ]:
integer = 3

In [ ]:
print(type(integer))

In [ ]:
print(type("integer"))

In [ ]:
pi = 3.1415

In [ ]:
print(type(pi))

In [ ]:
word = str(pi)

In [ ]:
print(word)

In [ ]:
number = float(word)

In [ ]:
print(word * 2)

In [ ]:
print(number * 2)

In [ ]:
print(word + 2)

In [ ]:
print(number + 2)

In [ ]:
euler = 2.7182

In [ ]:
print(int(euler))

In [ ]:
print(round(euler))

### Task 2

**What is the data type (`int`, `float`, `str`) of the following values? If you're unsure, use the `type()` function in a Python shell, as shown above.**

**`pi`**

**`integer`**

**`word`**

**`number`**

### Task 3

**Sometimes, you need to convert a value to a new datatype. Programmers call this *typecasting*. List the function calls that convert a value to a new data type.**

*Hint: You saw this in Task 1. There are three calls that we're looking for.*

### Task 4

**How does the behavior of the operators `+` and `*` depend on the data type?**

### Task 5

**Run the following code.**

In [ ]:
print(int(1))
print(int(1.1311))
print(int(6.322))
print(int(7.9993))
print(int(55.832))
print(round(1))
print(round(1.1311))
print(round(6.322))
print(round(7.9993))
print(int(55.832))

**What is the difference between the `int` function and the `round` function?**

### Task 6

**In the below code block, run the following code.**

In [ ]:
print(3 + 3 + 3)
print(.3 + .3 + .3)

**What is the difference between these two lines and their output? What is the actual output of each lines?**

**Given that, what data type do you need to store a number with 100% accuracy?**

### Task 7

**If you were explicitly typecasting the following variables, what data type would you use to store the following data? Justify your answers.**

`price`

`numOfFish`

`pears`

`mass`

### Task 8

**In another tab, go to [this demo code](https://repl.it/@SejinKim1/IntFloatSimPython) and run it.**

*If that code doesn't work, go to [this demo code](https://repl.it/@SejinKim1/IntFloatSimProcessing), which uses Processing instead of Python.*

**You don't need to understand what any of this code is (yet).**

*This code unfortunately cannot be run in Colab, since there's no support for Tkinter.*

**The program that you just runs is simulating the difference in computing time between a `float` (on the top) and an `integer` (on the bottom). What differences did you notice?**

### Task 9

**Summarize the difference between the two primary numeric datatypes: `int`s and `float`s. What are their pros and cons?**

---

End of exercise.